<div id="add-channel-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5>チャットルーム作成</h5>
            <span class="modalClose" id="add-page-close-button">×</span>
        </div>
        <form name="addChannelForm" class="modal-body" action="/" method="POST">
            <div class="input">
                <label class="modal-label" for="roomname-input">ROOM NAME</label>
                <input
                    type="text"
                    placeholder="チャンネル名"
                    class="channel-form-input"
                    name="channelTitle"
                />
            </div>
            <div class="input">
                <label class="modal-label" for="comment-input">COMMENT</label>
                <input
                    type="text"
                    placeholder="チャンネルの説明"
                    class="channel-form-input"
                    name="channelDescription"
                />
            </div>
            <button class="createbutton" id="add-channel-confirmation-button">CREATE</button>
        </form>
    </div>
</div>