<!-- <div id="delete-channel-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5>チャットルーム削除</h5>
            <span class="modalClose" id="delete-page-close-button">×</span>
        </div>
        <div class="modal-body">
            <p>削除してよろしいですか？</p>
            <a id="delete-confirmation-link">
                <button class="deletebutton" id="delete-channel-confirmation-button">DELETE</button>
            </a>
        </div>
    </div>
</div> -->