<div class="navigation-container">
  <div class="navigation">
    <a href="/logout">
      <div class="signout-icon-container">
        <img class="signout_icon" alt="icon" src="/static/img/signout-icon.png">
        <p class="signout-icon-p">signout</p>
      </div>
    </a>
    <div class="vertical-line-thin-side"></div>
    {% for channel in channels %}
    <li class="sidebar-channel-title-container">
        <a class="sidebar-channel-title" href="/detail/{{channel.id}}">{{channel.name}}</a>
    </li>
    {% endfor %}
    <ul>
      <li class="list active">
        <a href="/">
          <img class="hamburger_icon" alt="icon" src="/static/img/hamburger-icon.png">
        </a>
      </li>  
      <li class="list">
      </li>
    </ul>
  </div>
</div>