:root {
    --snow: #ffffff;
    --lightgray: #d2d2d2;
    --gray: #a8a8a8;
    --deepgray: #999999;
    --palegreen: #bcdce0;
    --lightgreen: #8ec5cc;
    --green: #1D8A99;
    --deepgreen: #0f454d;
    --wine: #B16E8E;
}