.error {
    margin: 0;
  }
  
  .error-wrapper {
    height: 100vh;
    background: var(--snow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .error-button {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--wine);
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  }

  .error-button a {
    text-align: center;
    color: var(--snow);
    font-size: 15px;
    font-family: Crimson Text;
    font-weight: 700;
  }

  .error-gif1{
    margin-right: 201px;
  }
    
  .error-title{
    color: var(--black);
    font-size: 21px;
    font-family: Crimson Text;
    font-weight: 700;
    margin-left: 100px;
    position: absolute;
    left: 40%;
  }
    
  .error-description{
    text-align: center;
    font-size: 15px;
    font-family: Crimson Text;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)translateY(-150%);
  }
