.error {
    margin: 0;
  }
  
  .error-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
  }

  .error-button {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    left: 559px;
    top: 604px;
    position: absolute;
    background: #B16E8E;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
  }

  .error-button a {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Crimson Text;
    font-weight: 700;
    word-wrap: break-word
  }
  
  .error-gif{
    width: 222px;
    height: 195px;
    left: 367px;
    top: 299px;
    position: absolute"
  }
    
  .error-title{
    width: 281px;
    height: 75px;
    left: 503px;
    top: 371px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Crimson Text;
    font-weight: 700;
    word-wrap: break-word"
  }
    
  .error-description{
    width: 524px;
    height: 53px;
    left: 382px;
    top: 494px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: Crimson Text;
    font-weight: 700;
    word-wrap: break-word
  }

