{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% block
body %}
<body class="error">
    <div class="error-wrapper">
      <div class="error-title"><span>申し訳ございません</span></div>
       <div class="error-gif1">
        <img src="static/img/error.jpg" />    
       </div>
       <div class="error-description">
          <p>{{ error_message }}</p>
            <a href="{{ url_for('index') }}">
              <div class="error-button">戻る</div>
            </a>    
        </div>
    </div>    
</body>
{% endblock %}
